<!-- dashboard.component.html -->
<div class="dashboard">

  <!-- 🔹 Topo da Dashboard -->
  <div class="topbar">

    <div div="nome-site-area-usuario">

      <div class="logo">
        <img src="assets/img/logo/dynamo.png" alt="Logo" />

      </div>

      <!-- 🔹 Botão de menu hambúrguer -->
      <button #menuToggle class="menu-toggle" (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </button>

    </div>

    <div>
      <div class="son-e-modo-escuro">
        <!-- SONS DE FOCO -->
        
        <div class="sons-foco-header">
          <div class="sons-foco-info">
            <span class="sons-foco-label">
              Som de foco (Melhor com Fone)

              <i class="pi pi-info-circle info-icon info-icon--inline"
                pTooltip="Ative um som ambiente para manter a concentração." tooltipPosition="top" [showDelay]="150"
                [hideDelay]="80" tabindex="0" aria-label="Ajuda"></i>
            </span>



            <div class="icones-sons">
              <button type="button" class="som-icone" *ngFor="let som of sonsFoco" [class.ativo]="somAtivoId === som.id"
                (click)="onClickSomIcone(som.id)" [title]="som.nome">
                <div class="som-icone-avatar-wrapper">
                  <img class="som-icone-img" [src]="som.icone" [alt]="som.nome" />
                  <span class="som-icone-badge" *ngIf="somAtivoId === som.id">
                    ▶
                  </span>
                </div>

                <div class="som-icone-textos">
                  <span class="som-icone-nome">{{ som.nome }}</span>
                </div>
              </button>
               <!-- CONTROLE DE VOLUME (vertical) -->
              </div>
          </div>
        </div>
         <button class="btn-modo-leitura" type="button" (click)="modoLeituraService.toggle()">
        <i class="pi" [ngClass]="modoLeituraService.isDark() ? 'pi-sun' : 'pi-moon'"></i>
      </button>
      </div>
     

    </div>






  </div>
  <div class="container">
    <div class="menu">


      <nav #sidebar class="sidebar" [ngClass]="{ 'menu-mobile': menuAberto }" role="navigation"
        aria-label="Menu principal" (click)="$event.stopPropagation()">
        <p-panelMenu [model]="items" [multiple]="true" styleClass="menu-flat"></p-panelMenu>
      </nav>

    </div>

    <div class="content">

      <router-outlet> </router-outlet>
    </div>
  </div>

</div>