<!-- dashboard.component.html -->
<div class="dashboard">

  <!-- 🔹 Topo da Dashboard -->
  <header class="topbar">

    <div div="nome-site-area-usuario">

      <div class="logo">
        <img src="assets/img/logo/dynamo.png" alt="Logo" />

      </div>
      <!-- 🔹 Botão de menu hambúrguer -->
      <button #menuToggle class="menu-toggle" (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </button>

    </div>
<button class="btn-modo-leitura" type="button" (click)="modoLeituraService.toggle()">
  <i class="pi" [ngClass]="modoLeituraService.isDark() ? 'pi-sun' : 'pi-moon'"></i>
</button>





  </header>
  <div class="container">
    <div class="menu">


      <nav #sidebar class="sidebar" [ngClass]="{ 'menu-mobile': menuAberto }" role="navigation"
        aria-label="Menu principal" (click)="$event.stopPropagation()">
        <p-panelMenu [model]="items" [multiple]="true" styleClass="menu-flat"></p-panelMenu>
      </nav>

    </div>

    <div class="content">

      <router-outlet> </router-outlet>
    </div>
  </div>

</div>