html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  
  height: 100dvh; /* força ocupar 100% da altura da tela */
  width: 100%; /* força ocupar 100% da largura da tela */
  background: #748c9637;
  justify-content: center;
  padding-top: 8dvh;
  padding-left: 1dvh;
  padding-right: 1dvh;
 

 
 align-items: stretch; 

}
.menu{
  height: 100dvh;
  width: 250px;
 background: white;
  top: 8dvh;
  left: 0;
margin-top: 4rem;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  padding: 20px;
  box-sizing: border-box;
  z-index: 999; /* Garante que o menu fique acima de outros elementos */
}


.dashboard{
  width:100%;
  height: 100%;



}
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
 
}
:host {
  display: block;
  height: 100%;
  width: 100%;
}

/* 🔹 Topo fixo com logo e menu */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  padding: 10px 20px;
  height: 8dvh;
  
 
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(3, 112, 245, 0.224);
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
 
}

.logo h1 {
  font-size: 1.5rem;
  margin: 0;
}

.mei2o {
  flex: 0 0 auto;
  max-width: 1200px; /* mesmo limite da .content */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto; /* centraliza a área */
}
.user-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5rem;
  cursor: pointer;
  text-transform: uppercase;
}


.botao-menu {
  background-color: #000203;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;

    box-shadow: 0 4px 8px rgb(255, 255, 255);
}

.botao-menu:hover {
  background-color: #05d4f4ad;
}


/* menu.component.css */
.sidebar {
  width: 240px;
  
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0px solid #eee;
  box-shadow: 2px 0 5px rgba(0,0,0,0.05);
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
display: flex;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  border-radius: 10px;
  margin: 5px 10px; /* 🔹 Espaçamento entre os itens */
  transition: background 0.3s, color 0.3s;
}

.menu-item i {
  margin-right: 10px;
  font-size: 16px;
  width: 20px;
  text-align: center;
}

.menu-item:hover,
.menu-item.active {
  background-color: #0b90e84b;
  color: #333;
  
}

.menu-footer {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  color: #aaa;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #333;
}





@media (max-width: 769px) {

.logo img {
  height: 20px;
 
}


 .container {
    flex-direction: flex;
    width: 100dvw;
    height: 100dvh;
  }

  .content {
  
  height: 100dvh; /* força ocupar 100% da altura da tela */
  width: 100%; /* força ocupar 100% da largura da tela */
  background: #565d6015;
  justify-content: center;
  padding-top: 0dvh;
  padding-left: 0dvh;
  padding-right: 0dvh;
  
  overflow: hidden;
 
 align-items: stretch; 

}


  .menu{
  height: 0dvh;
  width: 0px;
 background: white;
  top: 8dvh;
  left: 0;
margin-top: 4rem;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  padding: 0px;
  box-sizing: border-box;
  z-index: 999; /* Garante que o menu fique acima de outros elementos */
}

  .sidebar {
    display: none;
    position: absolute;
    top: 60px; /* abaixo do header */
    left: 0;
    width: 80%;
    max-width: 300px;
    height: calc(100vh - 60px);
    background: white;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease;
  }

  .sidebar.menu-mobile {
    display: block;
  }

  .content {
    padding-top: 3rem;
  }

.menu-toggle {
    display: inline-block; /* aparece só no mobile */
  }

  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  }

}



/* 🔹 Animação */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
