/* Estilo do container principal */
.manual-container {
    width: 100%;
    height:100%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Títulos */
.manual-container h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 15px;
}

/* Parágrafos */
.manual-container p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

/* Lista de módulos */
.manual-container ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.manual-container ul li {
    background: #f8f9fa;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.manual-container ul li:hover {
    background: #007bff;
    cursor: pointer;
}

.manual-container ul li a {
    text-decoration: none;
    color: #007bff;
    
    display: block;
    transition: color 0.3s ease;
}

.manual-container ul li:hover a {
    color: white;
}

/* Botão de download */
.btn-download {
    display: block;
    width: 100%;
    max-width: 250px;
    text-align: center;
    background: #007bff;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin: 20px auto;
    transition: background 0.3s ease;
}

.btn-download:hover {
    background: #0056b3;
}
