.container {
    width: 20dvw;
    margin-top: 0px !important;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(3, 112, 245, 0.629); /* Sombra suave */
    text-align: center;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  .mensagem {
    margin-top: 15px;
    color: #28a745;
    font-weight: bold;
  }
  
  .erro {
    margin-top: 15px;
    color: #dc3545;
    font-weight: bold;
  }
  
  div  {
    color: #dc3545;
    font-size: 0.9rem;
    margin-top: 5px;
  }

