<header>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet">
  <a href="https://wa.me/5562992546406" target="_blank" class="whatsapp-btn">
    <img src="assets/img/whatsapp-icon.png" alt="WhatsApp">
  </a>
  <div class="site-container">


    <div class="menu-topo">

      <div class="logo-container">
        <img src="assets/img/logo/aprovavc.png" alt="DynamoSoft Logo" class="logo-img">
        <div class="logo-text">
          <h1>
            <span class="dynamo">Aprova</span>
            <span class="soft">VOCÊ</span>
          </h1>
          <p class="tagline">A plataforma que te leva até a aprovação</p>
        </div>
      </div>

      <div class="menu">
        <p-menubar [model]="menuItems" class="custom-menubar">
          <ng-template pTemplate="start"></ng-template>
        </p-menubar>
      </div>
    </div>
  </div>
</header>


<div>
  <app-full-width-slider></app-full-width-slider>
</div>




<div class="hero">
  <div class="site-container">

    <div class="hero-content">
      <nav class="hero-nav">
        <a href="#services" class="hero-item">
          <div class="circle">1</div>
          <span>Nossas Soluções</span>
        </a>
        <a href="#blog" class="hero-item">
          <div class="circle">2</div>
          <span>Nosso Blog</span>
        </a>
        <a href="#casos" class="hero-item">
          <div class="circle">3</div>
          <span>Casos de Sucesso</span>
        </a>
      </nav>
    </div>

  </div>





  <section id="sobre-nos" class="sobre-nos">
    <div class="container">
      <div class="conteudo-sobre">
        <div class="imagem">
          <img src="assets/img/img3.jpg" alt="Sobre a Dynamo">
        </div>
        <div class="texto">
          <h2 class="parceiros-title">Sobre Nós</h2>
         <p>
      No <strong>AprovaVC</strong>, acreditamos que qualquer pessoa pode alcançar a aprovação quando tem
      clareza, organização e constância. Por isso, criamos uma plataforma simples, inteligente e acessível,
      feita para transformar a rotina de estudos em um processo leve, eficiente e realmente possível.
    </p>

    <p>
      Aqui, entendemos a jornada de quem estuda para concursos. Sabemos do cansaço, das dúvidas, da pressão
      e da dificuldade em manter o ritmo. Por isso, desenvolvemos um sistema que cuida do que mais importa:
      organizar seus estudos, acompanhar seu progresso e garantir que você revise no momento certo, sem
      complicações.
    </p>

    <p>
      Somos mais do que um sistema de revisão espaçada. Somos parceiros na sua caminhada até o crachá dos seus sonhos.
    </p>

    <p>
      Combinamos tecnologia moderna, design minimalista e uma estrutura pensada para quem precisa conciliar
      estudo com trabalho, família e rotina. Cada função do AprovaVC foi criada com um único objetivo:
      ajudar você a estudar melhor, economizar tempo e aprender mais com menos esforço.
    </p>

    <p>No AprovaVC, você encontra:</p>

    <ul>
      <li>Uma plataforma clara e intuitiva;</li>
      <li>Sistema de revisões inteligentes;</li>
      <li>Acompanhamento de progresso;</li>
      <li>Motivação visual a cada passo;</li>
      <li>Ferramentas que tornam o estudo direto e objetivo.</li>
    </ul>

    <p>
      Porque acreditamos que a aprovação não é sobre “ter sorte”, mas sim sobre constância — e constância
      nasce da organização certa.
    </p>

    <p><strong>AprovaVC – Organização simples, estudo eficiente, aprovação possível!</strong></p>
        </div>
      </div>
    </div>
  </section>



  <section id="parceiros" class="parceiros">
    <div class="container">
      <h2 class="parceiros-title">Parceiros que Confiam na nossa solução </h2>
      <p class="parceiros-subtitle">Faça parte você também</p>
      <div class="parceiros-list">
        <!-- Parceiro 1 -->
        <div class="parceiro-card">
          <img src="assets/img/parceiros/logo.png" alt="Cliente 1" class="parceiro-logo">
          <h3 class="parceiro-nome">Bem-me-Quer Personalizados </h3>
          <p class="parceiro-depoimento">
            "A Dynamo transformou a forma como gerenciamos nosso negócio. A eficiência do sistema é incrível!"
          </p>
        </div>
        <!-- Parceiro 2 -->
        <div class="parceiro-card">
          <img src="assets/img/parceiros/carol.jpg" alt="Cliente 2" class="parceiro-logo">
          <h3 class="parceiro-nome">Doçuras da Carol</h3>
          <p class="parceiro-depoimento">
            "Desde que começamos a usar o sistema da Dynamo, nossas operações ficaram muito mais organizadas e
            produtivas."
          </p>
        </div>
        <!-- Parceiro 3 -->
        <div class="parceiro-card">
          <img src="assets/img/parceiros/hiperclima.png" alt="Cliente 3" class="parceiro-logo">
          <h3 class="parceiro-nome">HiperClima</h3>
          <p class="parceiro-depoimento">
            "Uma solução dinâmica e fácil de usar. Recomendo a todos que precisam de um sistema de gestão eficiente!"
          </p>
        </div>
      </div>
    </div>
  </section>



  <section class="services" id="services">
    <div class="container">
      <h2 class="services-title">Soluções</h2>
      <div class="service-list">
        <div class="service-item">
<div class="service-icon-container">
          <img src="assets/img/icon/clientes.png" alt="Gestão de Clientes" class="service-icon" />
</div>
          <h3>Gestão de Clientes</h3>
          <p>Organize e gerencie informações de seus clientes com eficiência.</p>
        </div>
        <div class="service-item">
          <div class="badge">Em breve</div>
          <div class="service-icon-container">
          <img src="assets/img/icon/compras.png" alt="Gestão de Compras" class="service-icon" />
         </div>
          <h3>Gestão de Compras</h3>
          <p>Controle seus pedidos e otimize o fluxo de compras.</p>
        </div>
        <div class="service-item">
          <div class="badge">Em breve</div>
          <div class="service-icon-container">
          <img src="assets/img/icon/inventory.png" alt="Gestão de Estoque" class="service-icon" />
          </div>
          <h3>Gestão de Estoque</h3>
          <p>Monitore seus estoques em tempo real para evitar perdas.</p>
        </div>
        <div class="service-item">
          <div class="badge">Em breve</div>
          <div class="service-icon-container">
          <img src="assets/img/icon/orders.png" alt="Gestão de Pedidos" class="service-icon" />
          </div>
          <h3>Gestão de Pedidos</h3>
          <p>Gerencie os pedidos de seus clientes de forma centralizada.</p>
        </div>
        <div class="service-item">
          <div class="badge">Em breve</div>
          <div class="service-icon-container">
          <img src="assets/img/icon/finance.png" alt="Controle Financeiro" class="service-icon" />
          </div>
          <h3>Controle Financeiro</h3>
          <p>Tenha total controle sobre receitas, despesas e fluxo de caixa.</p>
        </div>
        <div class="service-item">
          <div class="service-icon-container">
          <img src="assets/img/icon/task.png" alt="Planejamento de Tarefas" class="service-icon" />
          </div>
          <h3>Planejamento de Tarefas</h3>
          <p>Organize e priorize tarefas para aumentar sua produtividade.</p>
        </div>
        <div class="service-item">
<div class="service-icon-container">
          <img src="assets/img/icon/service.png" alt="Ordem de Serviço" class="service-icon" />
          </div>
          <h3>Ordem de Serviço</h3>
          <p>Gerencie suas ordens de serviço de forma prática e rápida.</p>
        </div>
        <div class="service-item">
          <div class="badge">Em breve</div>
          <div class="service-icon-container">
          <img src="assets/img/icon/bi.png" alt="BI" class="service-icon" />
          </div>
          <h3>BI</h3>
          <p>Utilize ferramentas de inteligência de negócios para decisões mais assertivas.</p>
        </div>
      </div>
    </div>
  </section>



  <section class="plans" id="plans">
    <div class="container">

      <app-assine></app-assine>

    </div>
  </section>

  <section class="blog" id="blog">
    <div class="container">
      <h2>Blog do Micro Empreendedor</h2>
      <p class="blog-intro">Dicas, insights e artigos sobre gestão empresarial, finanças e organização para impulsionar
        o
        seu negócio.</p>
      <div class="blog-posts">
        <!-- Post 1 -->
        <div class="blog-post">
          <img src="assets/img/blog/financas.jpg" alt="Dicas de Finanças" />
          <h3>Dicas de Finanças para Microempreendedores</h3>
          <p>Aprenda a organizar suas finanças e manter o controle do seu fluxo de caixa com estas práticas essenciais.
          </p>
          <a href="#post1" class="read-more">Leia mais</a>
        </div>
        <!-- Post 2 -->
        <div class="blog-post">
          <img src="assets/img/blog/organizacao.jpg" alt="Organização" />
          <h3>Organize seu Negócio em 5 Passos</h3>
          <p>Descubra como otimizar processos e melhorar a produtividade do seu negócio com estas dicas simples.</p>
          <a href="#post2" class="read-more">Leia mais</a>
        </div>
        <!-- Post 3 -->
        <div class="blog-post">
          <img src="assets/img/blog/tecnologia.jpg" alt="Tecnologia na Gestão" />
          <h3>Como a Tecnologia Pode Transformar sua Gestão</h3>
          <p>Saiba como ferramentas tecnológicas podem revolucionar a forma como você administra seu negócio.</p>
          <a href="#post3" class="read-more">Leia mais</a>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="rodape">

      <div class="esquerda">
        <div class="logo-nome">
          <img src="assets/img/logo/aprovavc.png" alt="Logo" class="logo-img">
          <h1>
            <span style="color: #ffffff; font-weight: 300; letter-spacing: 1px; margin-right: 0px;">Aprova</span>
            <span style="color: #ffffff; font-weight: 400; letter-spacing: 0.5px;">VOCÊ</span>
          </h1>
        </div>
        <div class="social-icons" style="display: flex; justify-content: center; gap: 15px; margin-top: 5px;">
          <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
            <i class="pi pi-instagram"></i>
          </a>
          <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
            <i class="pi pi-facebook"></i>
          </a>
          <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
            <i class="pi pi-youtube"></i>
          </a>
          <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
            <i class="pi pi-linkedin"></i>
          </a>
        </div>
      </div>

      <div class="meio">

      </div>


    </div>

    <div class="separador-rodape"> </div>
    <div class="politicas">
      <div class="direitos">
        <p>&copy; 2025 Aprova Você. Todos os direitos reservados.</p>
      </div>

      <div class="link-politicas">
        <nav>
          <ul>
            <li><a routerLink="/politica-privacidade">Política de Privacidade |</a></li>
            <li><a routerLink="/termos-de-uso">Termos de Uso | </a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
      </div>

    </div>
    <div class="desenvolvido-por">
      <p> Desenvolvido por <strong>DynamoSoft</strong>.</p>
      <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" target="_blank" rel="noopener noreferrer"
          title="Freepik">Freepik</a>
        from <a href="https://www.flaticon.com/" target="_blank" rel="noopener noreferrer"
          title="Flaticon">www.flaticon.com</a>
      </p>
    </div>

  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let slides = document.querySelectorAll(".slide");
      let currentIndex = 0;

      // Garantir que todas as imagens comecem ocultas
      slides.forEach(slide => slide.classList.remove("active"));

      // Exibir a primeira imagem
      slides[currentIndex].classList.add("active");

      function showNextSlide() {
        slides[currentIndex].classList.remove("active"); // Remove da atual
        currentIndex = (currentIndex + 1) % slides.length; // Alterna índice
        slides[currentIndex].classList.add("active"); // Ativa a próxima
      }

      setInterval(showNextSlide, 5000); // Troca a imagem a cada 5 segundos
    });

  </script>