<div class="full-width-image">
  <!-- AQUI É ONDE A MAGIA ACONTECE -->
  <img
    [src]="slides[currentIndex].image"
    class="slide active"
    alt="Slide AprovaVC"
  />

  <div class="hero-content">
    <h1 class="hero-title">
      Clareza no plano.<br />
      Constânica no estudo.<br />
      Resultado na aprovação.
    </h1>

    <p class="hero-subtitle">
    O Aprovavc organiza sua rotina, acompanha seu progresso e transforma esforço em aprovação real.
    </p>

    <button class="hero-btn">Começar agora</button>
  </div>
</div>
