<div class="full-width-image">
  <!-- AQUI É ONDE A MAGIA ACONTECE -->
  <img
    [src]="slides[currentIndex].image"
    class="slide active"
    alt="Slide AprovaVC"
  />

  <div class="hero-content">
    <h1 class="hero-title">
      Estude melhor.<br />
      Organize tudo.<br />
      Seja aprovado.
    </h1>

    <p class="hero-subtitle">
      Uma plataforma inteligente para planejar seus estudos,
      controlar seu tempo e revisar com eficiência.
    </p>

    <button class="hero-btn">Começar agora</button>
  </div>
</div>
