<div class="full-width-image">
  <img
    [src]="slides[currentIndex].image"
    class="slide active"
    [class.fade-out]="isTransitioning"
    alt="Slide AprovaVC"
  />

  <div class="hero-content" [class.fade-out]="isTransitioning">
    <h1 class="hero-title" [innerHTML]="slides[currentIndex].titleHtml"></h1>

    <p class="hero-subtitle">
      {{ slides[currentIndex].description }}
    </p>

    <button
      [routerLink]="slides[currentIndex].link"
      class="hero-btn"
      type="button"
    >
      {{ slides[currentIndex].buttonText || 'Começar agora' }}
    </button>
  </div>
</div>
