<div class="conteudo">
  

<p-table  *ngIf="exibirTabelaPesquisa && listaCategorias?.length" 
    [value]="listaCategorias" 
    selectionMode="single" 
    [(selection)]="categoriaSelecionada"
    [paginator]="true" 
    [rows]="5" 
    [rowsPerPageOptions]="[5, 10, 20]" 
    responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
        
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
        <tr (click)="selecionarCategoria(categoria)">
            <td>{{ categoria.nome }}</td>
      
            <td>
                <button pButton type="button" icon="pi pi-check" (click)="selecionarCategoria(categoria)"></button>
            </td>
        </tr>
    </ng-template>
  </p-table>
  
  <div *ngIf="!exibirTabelaPesquisa">
      
        <form [formGroup]="categoriaForm">
          <div class="form-section">
            </div>
    
            <div class="separador"></div>
                <div class="field third-width" [ngClass]="{
                  'erro-campo': !isModoConsulta && categoriaForm.get('nome')?.invalid && categoriaForm.get('nome')?.touched,
                  'modo-consulta': isModoConsulta,
                  'borda-consulta': isModoConsulta 
              }">
                  <label for="nome">Nome </label>
                  <input id="nome" type="text" pInputText formControlName="nome" />
                  <div class="subcategorias-container" *ngIf="!isModoConsulta" >
                    <label>Subcategorias:</label>
                    <div formArrayName="subcategorias">
                      <div *ngFor="let sub of subcategorias.controls; let i = index" [formGroupName]="i" class="subcategoria-item">
                        <input type="text" pInputText formControlName="nome" placeholder="Nome da subcategoria" />
                        <button type="button" pButton icon="pi pi-trash" (click)="removerSubcategoria(i)" class="p-button-danger"></button>
                      </div>
                    </div>
                    <button type="button" pButton icon="pi pi-plus" label="Adicionar Subcategoria" (click)="adicionarSubcategoria()"></button>
                  </div>
                  
             
              </div>
          
        </form>
    
  </div>
  </div>