/* Container principal */
.configuracao-os-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100dvh;
  background: #ffffff;

  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Grid do formulário */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 20px;
}

/* Form Groups */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group.full-width {
  grid-column: 1 / -1; /* ocupa duas colunas */
}

.form-group label {
  font-weight: bold;
  color: #333;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="color"] {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

.checkbox {
  display: flex;
  align-items: center;
}

/* Botões */
.botoes-acoes {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: auto;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn.salvar {
  background-color: #2d8fdd;
  color: white;
}

.btn.salvar:hover {
  background-color: #1a73c7;
}

.btn.voltar {
  background-color: #ccc;
}

.btn.voltar:hover {
  background-color: #999;
}
