:host {
    display: block;
    
  }
  
  .footer-buttons {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    align-items: center; /* Centraliza os botões verticalmente */
    gap: 0.5rem; /* Espaçamento entre os botões */
    padding: 0.5rem; /* Espaçamento interno no rodapé */
    border-top: 1px solid #ddd; /* Linha separadora no topo do rodapé */
   
  }
  


::ng-deep .tela-padrao-dialog .p-dialog-content {
  background-color: #ffffff !important; /* ou a cor que quiser */
}

.titulo-tela-padrao {
    display: flex; /* Ativa o layout flexbox */
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    align-items: center; /* Centraliza verticalmente os itens */
    width: 100%; /* Garante que a barra ocupe 100% da largura */
    height: 40px; /* Altura fixa */
    color: #ffffff; /* Texto dourado */
    font-weight: bolder;
    padding: 0 20px; /* Espaçamento interno nas laterais */
    margin: 0; /* Remove margens */
    font-size: 1.5rem;
    background: linear-gradient(to right,  rgb(3, 45, 65),rgb(3, 45, 65),rgba(97, 175, 217, 0.616) , rgb(3, 45, 65) ,rgb(3, 45, 65) );
    
    box-shadow: 0 2px 3px  rgb(0, 0, 0);
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.353); /* Sombra do texto */
    background-size: cover;

  }

  .mensagem-sistema {
    padding: 10px;
    margin-top: 10px;
    margin: 0; /* Remove margens */
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
  }
  
  .success {
    width: 80%;
    
    
    color: #4CAF50;
  }
  
  .error {
    width: 80%;
    
    color:  #f44336;
  }
  
  .info {
    width: 80%;
    color: #2196F3;
  }
  
  .warning {
    width: 80%;
    color:  #ff9800;
  }
  

  :host ::ng-deep .p-dialog .p-dialog-header {
    width: 100%;
    
    
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin: 0;
   
    
  }

  
