<p-dialog
  [(visible)]="visivel"
  [modal]="false"
  [closable]="false"
  [style]="{ 
    width: maximizado ? 'calc(100vw - 1px)' : '60dvw', 
    height: maximizado ? 'calc(87vh - 40px)' : '75dvh',
    position: 'absolute',
    left: maximizado ? '0px' : posX + 'px',
    top: maximizado ? '125px' : posY + 'px'
    
  }"
  [contentStyle]="{ padding: '10px' }"
  [baseZIndex]="1000"
  styleClass="tela-padrao-dialog"
>

  <ng-template pTemplate="header">
    <div class="titulo-tela-padrao">
      <div class="titulo">
        <span>{{ titulo }}</span>
      </div>
      <div class="botoes">
        <button type="button" pButton icon="pi pi-window-minimize" class="p-button-text" (click)="onMinimizar()"></button>
        <button type="button" pButton icon="pi pi-window-maximize" class="p-button-text" (click)="onMaximizar()"></button>
        <button type="button" pButton icon="pi pi-times" class="p-button-text" (click)="onFechar()"></button>
      </div>
    </div>
  </ng-template>

  <!-- 🔥 Aqui será carregado o componente dinamicamente -->
  <ng-template #container></ng-template>

  <ng-template pTemplate="footer">
    
    <div class="footer-buttons">
    
     <!-- 🔥 Área para exibir mensagens -->
<div *ngIf="mostrarMensagem" class="mensagem-sistema" [ngClass]="tipoMensagem">
  {{ mensagemSistema }}
</div>

      <!-- 🔐 Modo Alteração de Senha -->
      <button
        *ngIf="isAlterarSenha"
        pButton
        label="Alterar Senha"
        icon="pi pi-key"
        class="p-button-warning"
        (click)="onAlterarSenhaClick()"
      ></button>

   
      <ng-container *ngIf="temDadosParaExcluir"  >
  
        
        <button
          pButton
          label="Imprimir"
          icon="pi pi-print"
          class="p-button-info"
          (click)="onImprimir()"
        ></button>
      </ng-container>

      <!-- 🔄 Alternância entre Consulta e Cadastro -->
      <ng-container *ngIf="!isAlterarSenha && !isCadastroEmpresa">
       
        <button  *ngIf="isModoConsulta && !temDadosParaExcluir"
        pButton
        label="Novo Registro"
        icon="pi pi-file"
        class="alterar-modo"
        (click)="alternarModoCadastro()"
        ></button>
      
    
        <ng-container >
          <button
            pButton
            label="Pesquisar"
            icon="pi pi-search"
            class="p-button-primary"
            (click)="onPesquisar()"
          ></button>
      
       
        </ng-container>


        <button *ngIf="temDadosParaExcluir"
        pButton
        label="Excluir"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="onExcluir()"
      ></button>
      

      </ng-container>

             <!-- 📝 Modo Cadastro -->
             <ng-container *ngIf="!isModoConsulta || temDadosParaExcluir || isCadastroEmpresa">
              <button
             pButton
             label="Salvar"
             icon="pi pi-save"
             class="p-button-success"
             (click)="onSalvar()"
           ></button>
           
 
           
         </ng-container>

    </div>
   
  </ng-template>

</p-dialog>
