/* 🔹 Estilos Gerais */
 .geral{
  display: flex;
 
  height: 50% ;
  width: 50%;
  align-items: center !important;
  justify-content: center !important;
  
  
  
 

}
.separator {
  border-top: 2px dashed #aca9a9; /* Cor cinza claro */
  width: 100%;
  margin: 20px 0;
 
}
.titulo-assinatura{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.assinatura-ativa{
  display: flex;
  background: rgb(6, 225, 6);
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  align-items: center;
  justify-content: center;
  
}
.assinatura-temp{
  display: flex;
  background: rgb(225, 123, 6);
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  align-items: center;
  justify-content: center;
  
}


/* 🔹 Contêiner Principal (Centralizado com sombra) */
.promo-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 40px 20px;

}
.lateral-logo{
  background: #fff;
  height: 25.3rem;
  width: 200px;
  box-shadow: 0 4px 8px rgba(3, 112, 245, 0.629); /* Sombra suave */
  
  display: flex;
  align-items: center;
  justify-items: center;
  
}
.logo{
  height: 120px;
  width: auto;
  align-items: center;
  margin-left: 1.5rem;
}


.promo-container {
  background: #fff;
  
  box-shadow: 0 4px 8px rgba(3, 112, 245, 0.629); /* Sombra suave */
 
  margin-left: 5px;
  max-width: 100%;
  width: 80dvw;
  padding: 30px;
  
}


.forma-pagamento{
  color: #2f3a45;
  display: block ;
  font-weight: bold;
  height: 150px;
  background: rgb(179, 208, 214);
  padding: 10px ;
}
.forma-pagamento1{
  display: flex;
  margin-top: 10px;
}
.valor{
  margin-top: 15px;
  display: flex;
}
.forma-pagamento2{
  margin-left: 5px;
  font-style: italic;
  font-weight: lighter;
}

/* 🔹 Títulos e Textos */
.promo-title {
  font-size: 26px;
  font-weight: 600;
  color: #536a80;
  margin-bottom: 15px;
}

.plan-intro {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}



/* 🔹 Caixa de Preço */
.price-box {
  background: #005bb5;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.old-price {
  font-size: 16px;
  text-decoration: line-through;
  
  margin-bottom: 5px;
  color: #bbb081;
}


/* 🔹 Botões */
.promo-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.cta-btn, .mp-btn {
  background: #0073e6;
  color: #fff;
  font-size: 16px;
  padding: 12px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.cta-btn:hover, .mp-btn:hover {
  background: #005bb5;
}






/* 🔹 Responsividade */
@media (max-width: 768px) {
  .promo-container {
    padding: 20px;
  }
  
  .promo-title {
    font-size: 22px;
  }

  .cta-btn, .mp-btn {
    font-size: 14px;
    padding: 10px;
  }
}
