<section class="geral" >

  <div class="geral">
  <div class="lateral-logo"> <img class="logo" src="assets/img/logo/mei3.png" alt="Logo"></div>
   
  <div class="promo-container">
    
    <!-- 🔹 Título Principal {{ user?.nome }}-->
     <div class="titulo-assinatura">
    <h2 class="promo-title">Dynamo-PRO </h2>
    <div class="assinatura-temp">
    Plano 14 DIAS
   </div>
   </div>
   <div class="separator"></div>
   
   <div class="forma-pagamento">

      <div>Pagamento</div>
      <div class="valor">Valor: <div class="forma-pagamento2">R$ 00,00</div></div> 
      <div class="forma-pagamento1"> Forma de Pagamento:<div class="forma-pagamento2"> Teste 14 Dias</div></div>
      
      
    </div>

 
   
    
    <!-- 🔹 Botões de Ação -->
    <div class="promo-actions">
     
      <button class="mp-btn" (click)="initiatePayment()">💳 Assine com Mercado Pago</button>
      <!-- Contêiner onde o botão do Mercado Pago será renderizado -->
      <div id="wallet_container"></div>
    </div>

   

   

   
  </div>
  </div>
</section>
