<section class="card tabela-topicos" *ngIf="!carregando && topicos.length">

  <table class="tabela-edital">
    <thead>
      <tr>
        <th>Tópico do edital</th>
        <th class="col-status">Status</th>
        <th class="col-acoes">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of topicos">
        <td>
          <span
            class="nivel"
            [style.marginLeft.px]="getIndentPx(t)"
          >
            {{ (t.nivelTopico || t.nivel || t.codigo) }} - {{ t.descricao }}
          </span>
        </td>

        <td class="col-status">
          <span class="badge" [ngClass]="t.ativo ? 'badge-ativo' : 'badge-inativo'">
            {{ t.ativo ? 'Ativo' : 'Inativo' }}
          </span>
        </td>

        <td class="col-acoes">
          <button
            class="btn-estudar"
           
            (click)="abrirSalaEstudo(t)"
          >
            Estudar
          </button>

          <div  class="hint-filhos">
            
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</section>
