.dashboard-container {
   padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.menu-esquerda{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 15rem;

}



.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas iguais */
  gap: 15px;
  justify-items: center;
}

.menu-item {
  background-color: #ffffff;
  color: rgb(61, 61, 63);
  border-radius: 10px;
  padding: 15px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.655);
}

.menu-item:hover {
  transform: translateY(-5px);
  background-color: #e0e0e0;
}

.menu-icon {
  font-size: 32px;
  margin-bottom: 5px;
}

.menu-label {
  font-size: 14px;
}


@media (max-width: 768px) {
.dashboard-container {
 
 
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100dvh;
  
}
.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Duas colunas iguais */
  gap: 15px;
  justify-items: center;
}

.menu-item {
 
  padding: 10px;
  width: 90px;
  height: 90px;
 
  
}

.menu-label {
  font-size: 10px;
}

}
