<div class="dashboard-container">
 
<div class="menu-esquerda">
  <div class="menu-grid">

    <div class="menu-item" routerLink="/area-restrita/content/revisao-estudos">
      <div class="menu-icon">👤</div>
      <div class="menu-label"><strong>Revisao</strong></div>
    </div>

    <div class="menu-item">
      <div class="menu-icon">🛠️</div>
      <div class="menu-label"><strong>Serviços</strong></div>
    </div>

    <div class="menu-item" routerLink="/area-restrita/content/proposta">
      <div class="menu-icon">📝</div>
      <div class="menu-label"><strong>Propostas</strong></div>
    </div>

    <div class="menu-item">
      <div class="menu-icon">📋</div>
      <div class="menu-label"><strong>Ordens de Serviço</strong></div>
    </div>

    <div class="menu-item">
      <div class="menu-icon">🔧</div>
      <div class="menu-label"><strong>Equipamentos</strong></div>
    </div>

    <div class="menu-item">
      <div class="menu-icon">🧰</div>
      <div class="menu-label"><strong>Itens do Conserto</strong></div>
    </div>
    <div class="menu-item">
      <div class="menu-icon">🔒</div>
      <div class="menu-label"><strong>Alterar Senha</strong></div>
    </div>
    <div class="menu-item">
      <div class="menu-icon">🎧</div>
      <div class="menu-label"><strong>Suporte</strong></div>
    </div>
    <div class="menu-item" routerLink="/area-restrita/content/meu-cadastro">
      <div class="menu-icon">📝</div>
      <div class="menu-label"><strong>Meu Cadastro</strong></div>
    </div>
    <div class="menu-item">
      <div class="menu-icon">📄</div>
      <div class="menu-label"><strong>Modelo de Proposta</strong></div>
    </div>
    <div class="menu-item">
      <div class="menu-icon">💳</div>
      <div class="menu-label"><strong>Meu Plano de Assinatura</strong></div>
    </div>
    <div class="menu-item" (click)="logout()">
      <div class="menu-icon">🚪</div>
      <div class="menu-label"><strong>Sair</strong></div>
    </div>

  </div>
  </div>
</div>
