<div class="conteudo">

    <div  *ngIf="exibirTabelaPesquisa" class="table-wrapper">
        <p-table *ngIf="listaMarcas?.length" [value]="listaMarcas" [paginator]="true" [rows]="20"
            [rowsPerPageOptions]="[5,10,20]" [rowHover]="true" responsiveLayout="scroll"
            styleClass="marca-table p-datatable-sm p-datatable-striped">

            <!-- Título da tela de pesquisa -->
            <ng-template pTemplate="caption">
                <div class="caption">
                    <span>Pesquisa de Marcas</span>
                    <small *ngIf="listaMarcas?.length"> ({{ listaMarcas.length }} resultados)</small>
                </div>
            </ng-template>

            <!-- Cabeçalho com nome da coluna -->
            <ng-template pTemplate="header">
                <tr *ngIf="exibirTabelaPesquisa">
                    <th>Nome</th>
                </tr>
            </ng-template>

            <!-- Corpo -->
            <ng-template pTemplate="body" let-marca>
                <tr *ngIf="exibirTabelaPesquisa" (click)="selecionarMarca(marca)" style="cursor: pointer;">
                    <td>{{ marca.nome }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div *ngIf="!exibirTabelaPesquisa">
        <form [formGroup]="marcaForm">
            <div class="mensagem" *ngIf="mensagemStatus">{{ mensagemStatus }}</div>
            <div class="linha">
            </div>
            <div class="separador"></div>
            <div class="field third-width" [ngClass]="{
                  'erro-campo': !isModoConsulta && marcaForm.get('nome')?.invalid && marcaForm.get('nome')?.touched,
                  'modo-consulta': isModoConsulta,
                  'borda-consulta': isModoConsulta 
              }">
                <label for="nome">Nome </label>
                <input id="nome" type="text" pInputText formControlName="nome" />
            </div>
        </form>
    </div>
</div>