
.conteudo{
  padding-top: 0px;
  background: white;
  width: 100%;
  height: 90dvh; /* Corrige o estouro */
   position: relative;
   overflow: hidden; /* Barra s칩 quando o conte칰do ultrapassar */
   
  
}
/* 游댳 Estilo geral do formul치rio */
form {
  max-width: 100% !important;
  height: 100%;
 
  

}

/* 游댳 Layout Principal */
.form-section,
.configuracao-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  padding: 10px;
}
.tipo-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rgcpf,
.telefone{
  display: flex;
  justify-content: space-between;
 
  gap: 10px;
}
.numero-complemento{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.cidade-estado {
  display: flex;
  
  gap: 10px;

}


.linha,
.container-endereco,
.uf-municipio-cep {
  display: flex;
  gap: 10px;
 
}




.e-campo-de-consulta {
  background: red;
}

.borda-consulta input {
  border-left: 3px solid #007bff;
  padding-left: 8px;
}

/* 游댳 Foco nos inputs */
.field select:focus,
.field input:focus,
.field textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* 游댳 Tamanhos Ajustados */
.half-width {
  flex: 1;
}

.quarter-width {
  flex: 0.25;
}

.third-width {
  flex: 0.33;
}

.small-width {
  flex: 0.15;
  min-width: 120px;
}

.cep input {
  width: 15rem;
}

.municipio select {
  width: 35.5dvw;
}



/* 游댠 Valida칞칚o e estados */
.erro-campo input,
.erro-campo select {
  border: 2px solid red !important;
  background-color: #ffe6e6;
}

.erro-campo small {
  color: red;
  font-weight: bold;
}


.titulo-tela {
  display: flex;
  align-items: center;           /* Centraliza verticalmente o texto e o bot칚o */
  justify-content: space-between;/* Espa칞o entre t칤tulo e bot칚o */
  padding: 0 20px;               /* Espa칞o lateral */
  height: 45px;                  /* Altura fixa para centraliza칞칚o perfeita */
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #000000 30%, #002333, #0375A6, #61afd9);
  box-shadow: 0 2px 4px rgb(0, 11, 17);
  position: sticky;
  top: 0;
  z-index: 10;
}

.titulo-tela button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  font-size: 0.9rem;
  font-weight: bold;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: background 0.3s ease, transform 0.2s ease;
}

.titulo-tela button:hover {
  background: #333;
  transform: scale(1.1);
}


.btn-fechar {
  background-color: #000203;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;

    box-shadow: 0 4px 8px rgb(255, 255, 255);
}

.mensagem{
  width: 100%;
  background: orange;
  z-index: 101111;   
  color: #073370; /* Vermelho para destaque */
  font-weight: bold;
  font-size: 1rem;
  position: sticky; /* Fica fixo relativo ao container */
  flex-grow: 1; /* Para ocupar o espa칞o restante */
  text-align: center; /* Centraliza a mensagem */
  top: 0;    
}
.campo-invalido {
  border: 2px solid red !important;
  background-color: #ffe6e6;
}

.btn-voltar:hover {
  background: #0056b3;
}
.separador{
  padding-top: 10px;
  color: #333;              /* Cor s칩bria, elegante e tradicional */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte moderna com alma cl치ssica */
   border-bottom: 2px solid  #000000a5; /* Linha abaixo, estilo "divisor de 치guas" */
  padding-bottom: 10px;

  

}
.select-fixo {
  
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .custom-pesquisa-dialog {
  width: 95vw !important;
  max-width: 600px !important;
  height: 70dvh;
}

:host ::ng-deep .custom-pesquisa-dialog-content {
  
  padding: 1rem !important;
  
 


  .p-table {
    border: 1px solid #313030 !important;
    
  }

  .p-datatable-thead > tr > th {
  
    color: #5a5555 !important;
    font-weight: bold;
    text-align: center;
 
   
  }

  .p-datatable-tbody > tr > td {
      color: #333 !important;
    padding: 0.75rem !important;
        
  }

  .p-datatable {
    border-radius: 8px;
    overflow: hidden;
    border: 0 none;
    background: rgb(255, 255, 255);
   
  }
}


 :host ::ng-deep  .p-dialog .p-dialog-header{
border-bottom: 0 none;
background: white;
color: #495057;
padding: 1.5rem;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
font-size: 1.0rem;
height: 5dvh;
    
  }








@media (max-width: 768px) {
  .cidade-estado{
 
  display: block;
  
  
  gap: 10px;
}

  .titulo-tela{
   display: flex;
  align-items: center;        /* Alinha o bot칚o e o texto no meio verticalmente */
  justify-content: space-between;    /* Centraliza tudo na horizontal */
       padding-left: 5px;
  padding-right: 8px; 
  font-size: 0.8rem;          /* Tamanho grande, mas n칚o gritante */
  font-weight: bold;        /* Negrito porque t칤tulo tem que ter presen칞a */
  text-transform: uppercase;/* Tudo mai칰sculo para refor칞ar hierarquia */
      /* Espa칞o depois do t칤tulo */
  color: #ffffff;              /* Cor s칩bria, elegante e tradicional */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte moderna com alma cl치ssica */
  text-align: center;       /* Centralizado porque 칠 o chef칚o da tela */
 
  padding-bottom:0px;
   position: sticky; /* Fica fixo relativo ao container */
  top: 0;           /* Gruda no topo */
 
  z-index: 10;   
  
  box-shadow: 0 2px 4px rgb(0, 11, 17); /* Sutil sombra para destacar */
 
}
.texto-tela{
  align-items: center;

    margin-left: 1dvh; 
    margin-top: 1dvw;
}
  .linha,
  .espacamento-entre-campos,
  .configuracao-container {
    flex-direction: column;
  }
  
  .configuracao-container .field {
    width: 100%;
    align-items: flex-start;
  }

  .configuracao-container label {
    margin-bottom: 5px;
  }

  .uf-municipio-cep {
    display: block;
  }

  .select-fixo {
  width: 55vw; /* ou o valor que desejar */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



:host ::ng-deep .custom-pesquisa-dialog-content {

  padding: 0rem !important;

  .p-table {
    border: 1px solid #ffffff !important;
    background-color: #fff0f0 !important;
    overflow-x: auto;
  }

  .p-datatable-thead > tr > th {
    color: #5a5555 !important;
    font-weight: bold;
    text-align: center;
    
    font-size: 0.9rem;

    @media (max-width: 768px) {
      font-size: 0.8rem;
      padding: 0.5rem;
    }
  }


  .p-datatable-tbody > tr > td {
    color: #333 !important;
    padding: 0.75rem !important;
    
    font-size: 0.9rem;

    @media (max-width: 768px) {
      font-size: 0.8rem;
      padding: 0.5rem !important;
      background: #0057b329;
      border-left: none;
    border: 0px none;
    }
  }

  .p-datatable {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    overflow-x: auto;
  
    background: rgb(255, 255, 255);

    @media (max-width: 768px) {
      border-radius: 0;
     
    }
  }
}

.rgcpf,
.telefone{
  display: flex;
 flex-direction: column;
 
 
  
}

  .p-datatable-tbody > tr > td {
  
    color: #333 !important;
    padding: 0.75rem !important;
    
  }


}

