/* Contêiner principal */
.timeline-container {
    display: flex;
    overflow-x: auto; /* Habilita rolagem horizontal para muitos grupos */
    padding: 10px;
    gap: 20px; /* Espaço entre os grupos */
    margin-left: 20px;
    margin-top: 20px;
  }
  
  /* Grupo de status */
  .status-group {
    display: flex;
    flex-direction: column; /* Coloca título e pedidos em coluna */
    align-items: center; /* Centraliza os itens */
    width: 250px; /* Largura fixa para cada grupo */
    border: 1px solid #e86c07; /* Borda para separar os grupos */
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
  }
  
  /* Título do grupo */
  .group-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #6f7375;
    margin-bottom: 10px; /* Espaço entre o título e os pedidos */
    text-align: center;
  }
  
  /* Pedidos dentro do grupo */
  .group-content {
    display: flex;
    flex-direction: column; /* Pedidos organizados verticalmente */
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
    width: 100%;
  }
  
  /* Cada pedido */
  .pedido-item {
    display: flex;
    align-items: center; /* Ícone e texto alinhados */
    gap: 10px; /* Espaço entre o ícone e os detalhes */
    margin-bottom: 10px;
  }
  
  /* Ícone do pedido */
  .pedido-item i {
    font-size: 1.5rem; /* Tamanho do ícone */
    color:#2EC4B6; /* Cor do ícone */
  }
  
  /* Detalhes do pedido */
  .pedido-detail {
    font-size: 1rem;
   
  }
  
  .pedido-detail p {
    margin: 0;
    font-weight: bold;
  }
  
  .pedido-detail small {
    color:#333333;
  }
  