.conteudo {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 4rem); /* deixa espaço pro menu */
  width: 95% ;
  height: 95%;
  max-width: 1200px;
   box-shadow: 0 0 5px rgba(1, 1, 1, 0.793);
 
}


.titulo-tela {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #429fe15c;
  height: 45px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #1a1919;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #000000 30%, #002333, #0375A6, #61afd9);
  background: linear-gradient(to right, #088ad047 30%, #4cc3fa67, #0375a665, #61afd934);
 
}

.titulo-tela button {
  height: 28px;
  width: 28px;
  font-size: 0.9rem;
  font-weight: bold;
 
  color: rgb(38, 36, 36);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: background 0.3s ease, transform 0.2s ease;
}

.titulo-tela button:hover {
  background: #333;
  transform: scale(1.1);
}

.conteudo-scroll {
  
  overflow: scroll; /* impede scroll da própria área externa */
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100% ;
}

.painel-botoes {
  flex-shrink: 0;            /* não encolhe */
 
background: white;
    
  display: flex;
  justify-content: right;
 
  
border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  

  
 
}

.painel-botoes button {
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: 300;
  
  font-size: 1.5rem;
  border: none;
 background: none;
  
 cursor: pointer; /* mãozinha ao passar o mouse */
  transition: transform 0.2s ease, background 0.3s ease;
}

.painel-botoes button:hover {
 transform: scale(1.3); /* leve aumento */
}

/* Responsivo */
@media (max-width: 768px) {
  .painel-botoes {
    gap: 5px;
    flex-wrap: wrap;
  }

  .painel-botoes button {
    padding: 6px 12px;
    font-size: 0.9rem;
  }

  .conteudo-scroll {
    padding: 8px;
  }

  .conteudo {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 4rem); /* deixa espaço pro menu */
  width: 100dvw;
  height: 100dvh;
  
 
}
}
