.modo-consulta input,
.modo-consulta textarea {
  background-color: #ffff99 !important;
}

:host ::ng-deep .modo-consulta .p-dropdown,
.modo-consulta-select {
  background-color: #ffff99 !important;
  border-left: 3px solid #007bff !important;
}
/* 🔹 Foco nos inputs */
.field select:focus,
.field input:focus,
.field textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  outline: none;
}


.linha,
.linha1
{
  display: flex;
  gap: 10px;
  
}

  
