<div class="assine-container">
    <div class="main">
        
        <div class="headline">
            <h1>Domine Seu Empreendimento com Facilidade</h1>
            <p>Gerencie pedidos, controle de estoque, precificação de produtos e organize suas finanças com eficiência.</p>
        </div>

        <div class="benefits">
            <h2>O que você ganha assinando?</h2>
            <ul>
                <li>📦 Controle de Estoque  – Evite falta ou excesso de produtos, mantendo seu estoque sempre organizado.</li>
                <li>💲 Precificação Precisa – Descubra o preço ideal dos seus produtos considerando seus custos.</li>
                <li>📊 Gestão Completa do Seu Negócio – Gerencie pedidos, clientes e finanças sem complicação.</li>
                <li>💰 Economia de Tempo e Dinheiro – Automatize processos e foque no que realmente importa.</li>
                <li>📈 Relatórios  Estratégicos – Tome decisões baseadas em dados concretos para crescer com segurança.</li>
                <li>🛠️ Atualizações e Suporte – Sistema sempre atualizado para atender às suas necessidades.</li>
                <li>🔒 Segurança Garantida – Proteção total dos seus dados com tecnologia avançada.</li>
            </ul>
        </div>

        <div class="call-to-action">
            <p class="preco"> Teste Grátis por 14 dias, depois apenas <strong>R$ 24,90/mês</strong> para ter o controle total do seu negócio.</p>
            <button class="btn-assine"routerLink="/configurador">QUERO TESTAR GRÁTIS</button>
            <p class="garantia">✅ Cancele quando quiser.</p>
        </div>
    </div>
</div>
