html, body {

    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede rolagem horizontal */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Mantém o conteúdo no centro verticalmente */
    background: linear-gradient(to bottom, #007bff, #00d4ff);
  }
    ::ng-deep .topo-login-site{
      display: flex;
      align-items: baseline;
      justify-content: center; /* Centraliza o conteúdo */
      background: rgb(48, 47, 47);
      
      height: 5rem;
      width: 100%;
    }
    .topo-login-site a{
      text-decoration: none;
  
    }
    body {
      font-family: 'Poppins', sans-serif;
      
    
      height: 100vh;
      margin: 0;
    }
    .main{
      display: block;
      width: 100%;
      height: 100%;
      justify-content: center !important;
      align-items: center;
      background: linear-gradient(135deg, #007bff, #00d4ff);
      background: linear-gradient(to bottom, #007bff, #00d4ff);
      
     
    }
    .painel{
      display: flex;
      align-items: center;
      justify-content: center;
    
      width: 100dvw;
      height: 88dvh;
    
    }
  
    /* Estilização do contêiner central */
    .container {
      width: 100%;
      max-width: 400px;
      margin: 100px auto;
      padding: 40px;
      background: #ffffff;
      box-shadow: 0 4px 10px rgb(0, 0, 0);
      border-radius: 8px;
      text-align: center;
  
      overflow: hidden; /* Evita qualquer expansão que cause rolagem */
    }
    .error-message{
      color: red;
    }
    
  
    /* Título */
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
      color: #1b1c1c;
    }
    
    /* Input Fields */
    input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      transition: 0.3s;
    }
    
    input:focus {
      border-color: #007bff;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    /* Botão */
    button {
      width: 100%;
      padding: 12px;
      margin-top: 10px;
      border: none;
      background: linear-gradient(135deg, rgb(3, 101, 180), #02c9fb);
      color: white;
      font-size: 18px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
    }
    
    button:hover {
      background: linear-gradient(135deg, #417a03, #074305);
    }
    
    /* Mensagem de erro */
    .error {
      color: red;
      font-size: 14px;
      margin-top: 10px;
    }
    
    /* Link para cadastro */
    p {
      margin-top: 15px;
      font-size: 14px;
    }
    
    a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;
    }
    
    a:hover {
      text-decoration: underline;
    }
  
    ::ng-deep .cadastro-link {
      margin-top: -10px !important; /* Reduz o espaçamento entre os parágrafos */
    }
  
    .logo{
      height: 40px;
      width: auto;
    }
    
    
    .boas-vindas {
     
      color: #534f4f;
      font-size: 1.2rem;
      text-align: center;
      padding: 15px 20px;
      border-radius: 8px;
      
      margin-bottom: 10px;
     
      animation: fadeIn 1s ease-in-out;
    }
    
    .notification {
      padding: 15px;
      border-radius: 5px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 15px;
    }
    
    .success {
      background-color: #4caf50;
      color: white;
    }