/* Estilização geral */
.aba-container {
  padding: 2rem;
  background: #fff;
height: 100dvh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

/* Layout de linhas (grid) */
.linha {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Campos */
.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-weight: bold;
  margin-bottom: 4px;
}

.field input,
.field select,
.field textarea
 {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  transition: border-color 0.2s;
  background-color: #fdfdfd;
}


:host ::ng-deep .p-dropdown
 {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  transition: border-color 0.2s;
  background-color: #fdfdfd;
  width: 100%;
  height: 2.3rem;
}

.agrupamento-campos{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.field input:focus,
.field select:focus,
.field textarea:focus {
  outline: none;
  border-color: #05d4f4;
  box-shadow: 0 0 0 1px #05d4f4;
}

/* Responsividade */
.half-width {
  flex: 1 1 48%;
}

.third-width {
  flex: 1 1 30%;
}

.small-width {
  flex: 1 1 20%;
}

.full-width {
  flex: 1 1 100%;
}

/* Estilo para campos com erro */
.erro-campo input,
.erro-campo select,
.erro-campo textarea {
  border-color: #e74c3c !important;
  background-color: #fff6f6;
}

.erro-campo small {
  color: #e74c3c;
  font-size: 0.8rem;
  margin-top: 4px;
}

/* Separador */
.separador {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 1.5rem 0;
}
.logotipo-container{
 
  width: 18%;
}
/* Container da logo */
.logo-container {
  display: flex;
  
  justify-content: right;
  padding: 1rem;
  padding-right: 0;

  border-radius: 8px;
}

.logo-preview {
  max-width: 120px;
  max-height: 120px;
  border-radius: 6px;
  object-fit: contain;
}

/* Botões ou inputs de upload */
.caminho-logo input[type="file"] {
  margin-top: 1rem;
}
