

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
}
.dia-semana {
  font-size: 12px;
  color: gray;
}

.eventos-container {
  display: flex; /* Ativa o layout flexbox */
  gap: 10px; /* Espaçamento entre os eventos */
  justify-content: flex-start; /* Alinha os eventos à esquerda */
  flex-wrap: wrap; /* Permite que os eventos quebrem para a próxima linha, se necessário */
}

.evento {
  background-color: #f0f0f0; /* Cor de fundo para destacar os eventos */
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: #333;
  white-space: nowrap; /* Impede que o texto quebre */
}

